#dash_Sidebar {
	width: 90px !important;
	background-color: #212529;
	min-height: calc(100vh - 76px);
}

#dash_Footer{

	position: absolute;
	right: 0;
	bottom: 0;
    
}

.accordion{
    
    width: 100%;
    
}
