.dash_Sidebar {
	
	background-color: #212529;
	min-height: calc(100vh - 76px - 72px) !important;
}

.accordion{
    
    width: 100%;
    
}

/* Custom Button Colours */
.custom_Btn{
    
/*    background-color: rgb(5, 53, 250);*/
    background-color: #844EB1;
    
}

/* Media Queries */

/* Above 768px Desktop Nav appear */
/* Under 768px Mobile Nav appears */
@media only screen and (min-width: 720px){
    
    .mobile_Nav_Display{
        
        display: none;
        
    }
    
    .desktop_Nav_Display{
        
        display: auto;
        
    }   
    
}

@media only screen and (max-width: 720px){
    
    .mobile_Nav_Display{
        
        display: auto;
        
    }
    
    .desktop_Nav_Display{
        
        display: none;
        
    } 
    
}












